footer{
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-left{
    width: 70%;
    text-align: center;
}
.footer-right{
    width: 30%;
    display: flex;
    gap: 20px;
    font-size: 17px;
}
.icon-yt:hover,.icon-fb:hover,.icon-twitter:hover,.icon-tiktok:hover{
    cursor: pointer;
    
}
a{
    color: inherit;
    text-decoration: none;
}